Repository GaloisInc/crucible, pull requests merged in 2022-05, with the labels that each got.

#975 uc-crux-llvm: Check inferred contracts from callsites
  uc-crux-llvm/src/UCCrux/LLVM/Callgraph.hs
  uc-crux-llvm/src/UCCrux/LLVM/Callgraph/LLVM.hs
  uc-crux-llvm/src/UCCrux/LLVM/Main.hs
  uc-crux-llvm/src/UCCrux/LLVM/Main/Config/FromEnv.hs
  uc-crux-llvm/src/UCCrux/LLVM/Main/Config/Type.hs
  uc-crux-llvm/test/Callgraph.hs
  uc-crux-llvm/test/Test.hs
  uc-crux-llvm/uc-crux-llvm.cabal
Labels: uc-crux

#978 uc-crux-llvm: Refactor handling of function signatures
  uc-crux-llvm/.hlint.yaml
  uc-crux-llvm/src/UCCrux/LLVM/Constraints.hs
  uc-crux-llvm/src/UCCrux/LLVM/Context/Module.hs
  uc-crux-llvm/src/UCCrux/LLVM/FullType/CrucibleType.hs
  uc-crux-llvm/src/UCCrux/LLVM/FullType/FuncSig.hs
  uc-crux-llvm/src/UCCrux/LLVM/FullType/ReturnType.hs
  uc-crux-llvm/src/UCCrux/LLVM/FullType/Translation.hs
  uc-crux-llvm/src/UCCrux/LLVM/Overrides/Skip.hs
  uc-crux-llvm/uc-crux-llvm.cabal
Labels: uc-crux

#984 {uc-,}crux-llvm: Update README's wording of recommendation of `ghcup`
  crux-llvm/README.md
  uc-crux-llvm/README.md
Labels: documentation

#981 uc-crux-llvm: Specify function postconditions
  uc-crux-llvm/.hlint.yaml
  uc-crux-llvm/src/UCCrux/LLVM/Classify.hs
  uc-crux-llvm/src/UCCrux/LLVM/Constraints.hs
  uc-crux-llvm/src/UCCrux/LLVM/Errors/Unimplemented.hs
  uc-crux-llvm/src/UCCrux/LLVM/FullType/CrucibleType.hs
  uc-crux-llvm/src/UCCrux/LLVM/FullType/FuncSig.hs
  uc-crux-llvm/src/UCCrux/LLVM/FullType/MemType.hs
  uc-crux-llvm/src/UCCrux/LLVM/FullType/PP.hs
  uc-crux-llvm/src/UCCrux/LLVM/FullType/StorageType.hs
  uc-crux-llvm/src/UCCrux/LLVM/Overrides/Check.hs
  uc-crux-llvm/src/UCCrux/LLVM/Overrides/Skip.hs
  uc-crux-llvm/src/UCCrux/LLVM/Postcondition/Apply.hs
  uc-crux-llvm/src/UCCrux/LLVM/Postcondition/Type.hs
  uc-crux-llvm/src/UCCrux/LLVM/Precondition.hs
  uc-crux-llvm/src/UCCrux/LLVM/Run/Simulate.hs
  uc-crux-llvm/src/UCCrux/LLVM/Setup.hs
  uc-crux-llvm/src/UCCrux/LLVM/Shape.hs
  uc-crux-llvm/test/Postcond.hs
  uc-crux-llvm/test/Test.hs
  uc-crux-llvm/uc-crux-llvm.cabal
Labels: uc-crux

#992 CI: Use modern GPG keys
  .github/ci.sh
Labels: CI
