Repository GaloisInc/crucible, pull requests merged in 2024-09, with the labels that each got.

#1251 CI: Upgrade actions to v4
  .github/workflows/crucible-go-build.yml
  .github/workflows/crucible-jvm-build.yml
  .github/workflows/crucible-wasm-build.yml
  .github/workflows/crux-llvm-build.yml
  .github/workflows/crux-mir-build.yml
  .github/workflows/lint.yml
  .github/workflows/uc-crux-llvm-lint.yaml
Labels: CI

#1249 Revise Haddocks for Crucible backends
  crucible/src/Lang/Crucible/Backend.hs
Labels: crucible

#1254 llvm: Print out the failed predicate in a panic
  crucible-llvm/src/Lang/Crucible/LLVM/MemModel/Generic.hs
Labels: llvm

#1258 `crux-llvm`: Uniformly use LLVM 14 in Dockerfile
  .github/Dockerfile-crux-llvm
Labels: CI
