Repository GaloisInc/crucible, pull requests merged in 2024-08, with the labels that each got.

#1230 Add some notes on what's needed to successfully run the crux-mir tests.
  README.md
  crux-mir/README.md
Labels: testing, MIR, documentation

#1236 llvm-{syntax,cli}: Register more overrides for libc and LLVM functions
  crucible-llvm-cli/src/Lang/Crucible/LLVM/CLI.hs
  crucible-llvm-cli/test-data/memset.cbl
  crucible-llvm-cli/test-data/memset.out.good
  crucible-llvm-syntax/crucible-llvm-syntax.cabal
  crucible-llvm-syntax/src/Lang/Crucible/LLVM/Syntax/Overrides.hs
Labels: llvm, syntax

#1237 llvm: Introduce predicate-building helpers `ptrSameAlloc` and `ptrIsBv`
  crucible-llvm/src/Lang/Crucible/LLVM/Intrinsics/Libc.hs
  crucible-llvm/src/Lang/Crucible/LLVM/MemModel.hs
  crucible-llvm/src/Lang/Crucible/LLVM/MemModel/Partial.hs
  crucible-llvm/src/Lang/Crucible/LLVM/MemModel/Pointer.hs
  crucible-llvm/src/Lang/Crucible/LLVM/SimpleLoopInvariant.hs
Labels: llvm

#1242 CI: Consistently use `macos-14` in all workflows
  .github/workflows/crucible-go-build.yml
  .github/workflows/crucible-jvm-build.yml
  .github/workflows/crucible-wasm-build.yml
Labels: CI, macOS
