Repository GaloisInc/crucible, pull requests merged in 2025-08, with the labels that each got.

#1484 Add `crucible-mir-{cli,syntax}`
  .github/workflows/crux-mir-build.yml
  .github/workflows/lint.yml
  README.md
  cabal.project
  crucible-mir-cli/.hlint.yaml
  crucible-mir-cli/CHANGELOG.md
  crucible-mir-cli/LICENSE
  crucible-mir-cli/app/Main.hs
  crucible-mir-cli/crucible-mir-cli.cabal
  crucible-mir-cli/src/Lang/Crucible/MIR/CLI.hs
  crucible-mir-cli/test-data/.gitignore
  crucible-mir-cli/test-data/ref.cbl
  crucible-mir-cli/test-data/ref.out.good
  crucible-mir-cli/test/Test.hs
  crucible-mir-syntax/.hlint.yaml
  crucible-mir-syntax/CHANGELOG.md
  crucible-mir-syntax/LICENSE
  crucible-mir-syntax/README.md
  crucible-mir-syntax/crucible-mir-syntax.cabal
  crucible-mir-syntax/src/Lang/Crucible/MIR/Syntax.hs
  crucible-mir-syntax/test-data/.gitignore
  crucible-mir-syntax/test-data/ref.cbl
  crucible-mir-syntax/test-data/ref.out.good
  crucible-mir-syntax/test/Test.hs
Labels: MIR

#1486 Add `crucible-mir-debug`
  .github/workflows/crux-mir-build.yml
  cabal.project
  crucible-mir-debug/.gitignore
  crucible-mir-debug/CHANGELOG.md
  crucible-mir-debug/LICENSE
  crucible-mir-debug/README.md
  crucible-mir-debug/app/Main.hs
  crucible-mir-debug/crucible-mir-debug.cabal
  crucible-mir-debug/src/Lang/Crucible/MIR/Debug.hs
Labels: crucible, MIR, debugger

#1496 ci: Check freeze files on Linux only
  .github/workflows/crucible-go-build.yml
  .github/workflows/crucible-jvm-build.yml
  .github/workflows/crucible-wasm-build.yml
Labels: CI
