Repository GaloisInc/crucible, pull requests merged in 2025-09, with the labels that each got.

#1522 `crux`: Print commit hash in `--version` output
  .github/ci.sh
  .github/workflows/crux-llvm-build.yml
  .github/workflows/crux-mir-build.yml
  cabal.GHC-9.10.1.config
  cabal.GHC-9.6.7.config
  cabal.GHC-9.8.4.config
  crux/crux.buildinfo.json
  crux/crux.cabal
  crux/src/Crux/GitHash.hs
  crux/src/Crux/Log.hs
  crux/src/Crux/Version.hs
Labels: crux, UX

#1523 `crux-mir`: Add `--test-skip-filter` flag
  crux-mir/CHANGELOG.md
  crux-mir/src/Mir/Language.hs
Labels: crux, UX, MIR

#1551 Unconditionally succeed when loading 0-sized values
  crucible-llvm/src/Lang/Crucible/LLVM/MemModel/Common.hs
  crucible-llvm/src/Lang/Crucible/LLVM/MemModel/Generic.hs
  crux-llvm/test-data/golden/T1549.ll
  crux-llvm/test-data/golden/T1549.pre-clang15.z3.good
  crux-llvm/test-data/golden/T1549.z3.good
Labels: llvm
