Repository GaloisInc/crucible, pull requests merged in 2025-07, with the labels that each got.

#1449 crucible-mir: allow `TyRawPtr` receivers in `transVtableShim`
  crucible-mir/src/Mir/Trans.hs
Labels: MIR

#1452 `crucible-mir`: Generalize `rotate_{left,right}` overrides to work on many different bit widths
  crucible-mir/CHANGELOG.md
  crucible-mir/src/Mir/TransCustom.hs
  crux-mir/test/conc_eval/intTest/test1451.rs
Labels: crucible, MIR

#1456 `crucible-mir`: Support clone shims for function pointers and closures
  crucible-mir/CHANGELOG.md
  crucible-mir/src/Mir/TransCustom.hs
  crux-mir/test/conc_eval/clos/clone_shim.rs
Labels: crucible, MIR

#1460 llvm: Export more "low-level" string-loading functionality
  crucible-llvm/CHANGELOG.md
  crucible-llvm/src/Lang/Crucible/LLVM/MemModel/Strings.hs
Labels: llvm

#1471 `crucible-mir`: Translate "constant" statics before non-constant ones
  crucible-mir/CHANGELOG.md
  crucible-mir/src/Mir/Trans.hs
  crux-mir/test/conc_eval/statics/static_init_order.rs
Labels: crucible, MIR

#1473 `crucible-mir`: Make union type support slightly more error-resistant
  crucible-mir/src/Mir/TransTy.hs
  crux-mir/test/conc_eval/resilience/ignore_unused_union_in_type_sig.rs
Labels: crucible, MIR
