Repository GaloisInc/crucible, pull requests merged in 2025-05, with the labels that each got.

#1402 `llvm-syntax`: More syntax
  crucible-llvm-cli/test-data/ptr.cbl
  crucible-llvm-syntax/README.md
  crucible-llvm-syntax/src/Lang/Crucible/LLVM/Syntax.hs
  crucible-llvm-syntax/test-data/frame.cbl
  crucible-llvm-syntax/test-data/frame.out.good
  crucible-llvm-syntax/test-data/ptr.cbl
  crucible-llvm-syntax/test-data/ptr.out.good
Labels: llvm, syntax

#1404 llvm: Documentation and test-cases for undefined behaviors
  crucible-llvm-cli/test-data/ub/009.cbl
  crucible-llvm-cli/test-data/ub/009.out.good
  crucible-llvm-cli/test-data/ub/011.cbl
  crucible-llvm-cli/test-data/ub/011.out.good
  crucible-llvm-cli/test-data/ub/025.cbl
  crucible-llvm-cli/test-data/ub/025.out.good
  crucible-llvm-cli/test-data/ub/039.cbl
  crucible-llvm-cli/test-data/ub/039.out.good
  crucible-llvm-cli/test-data/ub/043.cbl
  crucible-llvm-cli/test-data/ub/043.out.good
  crucible-llvm-cli/test-data/ub/045.cbl
  crucible-llvm-cli/test-data/ub/045.out.good
  crucible-llvm-cli/test-data/ub/050.cbl
  crucible-llvm-cli/test-data/ub/050.out.good
  crucible-llvm-cli/test-data/ub/README.md
  crucible-llvm-cli/test/Test.hs
  crucible-llvm/doc/undefined-behavior.md
  crucible-llvm/src/Lang/Crucible/LLVM/Errors/MemoryError.hs
  crucible-llvm/src/Lang/Crucible/LLVM/Errors/UndefinedBehavior.hs
Labels: llvm, testing

#1405 llvm-syntax: Overrides for manipulating C-style null-terminated strings
  crucible-cli/CHANGELOG.md
  crucible-cli/src/Lang/Crucible/CLI.hs
  crucible-cli/test/Test.hs
  crucible-llvm-cli/src/Lang/Crucible/LLVM/CLI.hs
  crucible-llvm-cli/test-data/string.cbl
  crucible-llvm-cli/test-data/string.out.good
  crucible-llvm-syntax/CHANGELOG.md
  crucible-llvm-syntax/README.md
  crucible-llvm-syntax/crucible-llvm-syntax.cabal
  crucible-llvm-syntax/src/Lang/Crucible/LLVM/Syntax/Overrides/String.hs
  crucible-llvm/CHANGELOG.md
  crucible-llvm/crucible-llvm.cabal
  crucible-llvm/src/Lang/Crucible/LLVM/Intrinsics/Libc.hs
  crucible-llvm/src/Lang/Crucible/LLVM/MemModel.hs
  crucible-llvm/src/Lang/Crucible/LLVM/MemModel/Strings.hs
  crucible-llvm/src/Lang/Crucible/LLVM/MemModel/Value.hs
  crucible-llvm/src/Lang/Crucible/LLVM/SymIO.hs
  crucible/CHANGELOG.md
  crucible/src/Lang/Crucible/Simulator/OverrideSim.hs
Labels: llvm, syntax

#1407 Add `TraversableF` instances for `CrucibleEvent` and `CrucibleAssumption{,s}`
  crucible/CHANGELOG.md
  crucible/src/Lang/Crucible/Backend/Assumptions.hs
Labels: enhancement, crucible

#1412 ci: Build with `--semaphore`
  .github/ci.sh
Labels: CI
